body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 50em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}
pre {
    border: 1px dotted gray;
    background-color: #9999ff;
    color: #111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
    font-size: 110%;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #000099; 
}
h1, h2, h3, h4, h5 { font-family: verdana;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #000099; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
        border-bottom: 1px dotted black;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 150%;
        font-weight: bold;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

a:link {
       color: #000099
       }

a:visited {
	  color: #666699
	  }
a:hover {
	color: #666699
	}
a:active {
	 color: #000099
	 }

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

